<div class="tab spellbook" data-group="primary" data-tab="spellbook">

        <ol class="spellcastingEntry-list directory-list">
            {{#each actor.spellcastingEntries as |entry eid|}}
            <li class="item item-container" data-container-type="spellcastingEntry" data-container-id="{{entry._id}}">
                <div class="action-header" style="display:flex;" >
                    {{#if entry.data.prepared.preparedSpells}}
                    <a class="skill-name prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityTitle"}}"><i class="fas fa-book-open"></i></a>
                    {{/if}}
                    <h3 class="item-name pf-heading pf-actions hide-container-toggle" style="padding-left: 32px;">{{{entry.name}}}</h3>
                    {{#if ../owner}}
                    <div class="item-controls" style="display: flex; background: var(--primary-background); color: white;">
                        <a class="item-control spellcasting-remove" title="{{localize "PF2E.RemoveSpellcastingEntryTitle"}}" data-type="{{eid}}" style="align-self: center;"><i class="fas fa-minus"></i>{{localize "PF2E.DeleteShortLabel"}}</a>
                    </div>
                    {{/if}}
                </div>
                {{#unless entry.data.tradition.ritual}}
                    {{#if entry.data.tradition.focus}}
                    <ol class="skills-list" style="background: var(--secondary-background);">
                        <li class="skill-grid" style="grid: 'name points pool' 100%/auto 46px 46px;">
                            <h4 class="skill-name">{{localize "PF2E.Focus.label"}}</h4>
                            <div class="skill-container">
                                <h4 class="skill-item pf-title">{{localize "PF2E.Focus.pointLabel"}}</h4>
                                <span class="skill-item pf-small" title="{{localize "PF2E.Focus.pointTitle"}}">
                                    <input type="hidden" name="data.items.{{eid}}.data.focus.points" data-stat-type="item" data-max="3" value="{{entry.data.focus.points}}" data-dtype="Number"/>
                                    <span class="proficiency-rank click-stat-level pf-value" title="{{localize "PF2E.Focus.pointTitle"}}" style="height: 15px;">{{{entry.data.focus.icon}}}</span>
                                </span>
                            </div>
                            <div class="skill-container">
                                <h4 class="skill-item pf-title">{{localize "PF2E.Focus.poolLabel"}}</h4>
                                <span class="skill-item pf-value focus-pool-input" title="{{localize "PF2E.Focus.poolTitle"}}">
                                    <input type="text" name="data.items.{{eid}}.data.focus.pool" value="{{entry.data.focus.pool}}"
                                            data-dtype="Number" placeholder="0"/>
                                </span>
                            </div>
                        </li>
                    </ol>
                    {{/if}}
                    <ol class="skills-list">
                        <li class="skill-grid">

                            <span class="skill-score" title="{{entry.data.spelldc.breakdown}}">{{entry.data.spelldc.dc}}</span>
                            <h4 class="skill-name">{{localize "PF2E.SpellSaveLabel"}}</h4>

                            <div class="skill-container">
                                <h4 class="skill-proficiency pf-title">{{localize "PF2E.ProficiencyRankLabel"}}</h4>
                                <input type="hidden" name="data.items.{{eid}}.data.proficiency.value" data-stat-type="item" value="{{entry.data.proficiency.value}}" data-dtype="Number"/>
                                <span class="skill-proficiency pf-value pf-rank click-stat-level" title="{{entry.data.spelldc.hover}}">{{{entry.data.spelldc.icon}}}</span>
                            </div>
                            <div class="skill-container">
                                <h4 class="skill-item pf-title">{{localize "PF2E.ItemBonusShortLabel"}}</h4>
                                <span class="skill-item pf-value item-value-input" title="{{localize "PF2E.ItemTitle"}}">
                                    <input type="text" name="data.items.{{eid}}.data.item.value" value="{{entry.data.item.value}}"
                                            data-dtype="Number" placeholder="+0"/>
                                </span>
                            </div>
                        </li>
                        <li class="pf-two-grid">
                            <label class="skill-name">{{localize "PF2E.SpellAbilityLabel"}}</label>
                            <div class="skill-name">
                                <select class="ability-select" name="data.items.{{eid}}.data.ability.value" data-type="String">
                                    {{#select entry.data.ability.value}}
                                    <option value="">{{localize "PF2E.NoneOption"}}</option>
                                    {{#each ../data.abilities as |abl a|}}
                                    <option value="{{a}}">{{abl.label}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </li>
                    </ol>
                {{/unless}}
            {{#unless entry.data.prepared.preparedSpells}}

                <!-- Everything except prepared spells -->
                <ol class="inventory-list directory-list" style="margin-bottom: 2px">

                        <!-- Add section for each spell level -->
                        {{#each entry.spellbook as |section lvl|}}
                            <li class="item inventory-header spellbook-header" style="background: var(--secondary-background);" data-item-id="{{entry._id}}" data-level="{{lvl}}">
                                <div class="item-name flexrow">
                                    <h3>{{section.label}} {{lvl}}</h3>

                                    {{#unless entry.data.tradition.ritual}}
                                        {{#unless entry.data.tradition.focus}}
                                            {{#unless section.isCantrip}}
                                            <span class="spell-slots-input">
                                                <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-type="Number"/>
                                            </span>
                                            <span class="flex0"> / </span>
                                            <span class="spell-max-input">
                                                <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-type="Number"/>
                                            </span>
                                            {{else}}
                                            <span class="spell-slots">&infin;</span>
                                            <span class="flex0"> / </span>
                                            <span class="spell-max">&infin;</span>
                                            {{/unless}}
                                        {{/unless}}
                                    {{/unless}}
                                </div>

                                <div class="spell-school-header">{{localize "PF2E.SpellsSchoolHeader"}}</div>
                                <div class="spell-action-header">{{localize "PF2E.SpellsActionHeader"}}</div>

                                {{#if ../../owner}}
                                <div class="item-controls">
                                    <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                        data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                                    <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                                </div>
                                {{/if}}
                            </li>

                            <!-- Add spell items for each spell level -->
                            {{#each section.spells as |item i|}}
                            <li class="item" data-spell-lvl="{{lvl}}" data-item-id="{{item._id}}">
                                <div class="item-name rollable">
                                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                                    <h4>{{item.name}}</h4>
                                </div>

                                <div class="spell-school">{{item.data.school.str}}</div>
                                <div class="spell-action">{{item.data.time.value}}</div>

                                {{#if ../../../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}

                        {{else}}
                            <!-- Add Spells Row -->
                            <li class="item inventory-header spellbook-header spellbook-empty">
                                {{#if ../owner}}
                                <div class="item-controls pf-bluelist pf-add-item-row" style="flex: 1; background: var(--secondary-background); display: flex">
                                    <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                        data-level="{{lvl}}" data-location="{{entry._id}}" style="flex: 1;"><i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}</a>
                                    <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                        data-level="{{lvl}}" data-location="{{entry._id}}" style="flex: 1;"><i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}</a>
                                </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ol>
            {{else}}

                <!-- Prepared Spells -->
                <ol class="inventory-list directory-list">

                    <!-- Add section for each level -->
                    {{#each entry.spellbook as |section lvl|}}
                        <li class="item inventory-header spellbook-header" style="background: var(--secondary-background);" data-item-id="{{entry._id}}" data-level="{{lvl}}">
                            <div class="item-name flexrow">

                            <div class="level-prepared-toggle-div">
                                {{#if entry.data.showUnpreparedSpells.value}}
                                <a class="skill-name level-prepared-toggle"
                                    title="{{localize "PF2E.ToggleSpellVisibilityLevelTitle"}}"
                                    ><i class="fas fa-book-open"></i></a>
                                {{/if}}
                            </div>
                                <h3>{{section.label}}</h3>

                                {{#if section.isFocus}}
                                <span class="spell-slots-input">
                                    <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-type="Number"/>
                                </span>
                                <span class="flex0"> / </span>
                                <span class="spell-max-input">
                                    <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-type="Number"/>
                                </span>
                                {{else}}
                                <span class="spell-max-input">
                                    <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-type="Number"/>
                                </span>
                                {{/if}}
                            </div>

                            <div class="spell-school-header">{{localize "PF2E.SpellsSchoolHeader"}}</div>
                            <div class="spell-action-header">{{localize "PF2E.SpellsActionHeader"}}</div>

                            {{#if ../../owner}}
                            <div class="item-controls">
                                <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                            </div>
                            {{/if}}
                        </li>

                        {{#unless section.isFocus}}
                            {{#each section.prepared as |item i|}}

                                {{#if item.prepared}}
                                    <li class="item" data-item-id="{{item._id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry._id}}" data-expended-state="{{item.expended}}">
                                        <div class="item-name">
                                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                                            {{#if item.expended}}
                                                <h4 style="text-decoration: line-through">{{item.name}}</h4>
                                            {{else}}
                                                <h4>{{item.name}}</h4>
                                            {{/if}}
                                        </div>

                                        <div class="spell-school">{{item.data.school.str}}</div>
                                        <div class="spell-action">{{item.data.time.value}}</div>

                                        {{#if ../../../owner}}
                                        <div class="item-controls">
                                            <!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> -->
                                            <a class="item-control item-toggle-prepare" title="{{localize "PF2E.ExpendSpellTitle"}}"><i class="fas fa-minus-square"></i></a>
                                            <a class="item-control item-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        </div>
                                        {{/if}}
                                    </li>
                                {{else}}
                                    <li class="item" data-item-id="{{i}}" data-spell-lvl="{{lvl}}" data-item-type="spellSlot" data-entry-id="{{entry._id}}">
                                        <div class="item-name" style="padding-left:30px;">
                                            <h4>{{item.name}}</h4>
                                        </div>
                                    </li>
                                {{/if}}

                            {{/each}}

                            {{#if entry.data.showUnpreparedSpells.value}}
                            {{#if section.displayPrepared}}
                            <h3 class="item-name pf-sub-category pf-actions level-prepared-header">{{unpreparedSpellsLabel}}</h3>

                            <!-- Unprepared Spells -->
                                {{#each section.spells as |item i|}}
                                    <li class="item spellbook-item" data-item-id="{{item._id}}">
                                        <div class="item-name rollable">
                                            
                                            <h4>{{item.name}}</h4>
                                        </div>

                                        <div class="spell-school">{{item.data.school.str}}</div>
                                        <div class="spell-action">{{item.data.time.value}}</div>

                                        {{#if ../../../owner}}
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        </div>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            {{/if}}
                            {{/if}}
                        {{else}}
                            <!-- Add spell items for each level -->
                            {{#each section.spells as |item i|}}
                            <li class="item" data-spell-lvl="1" data-item-id="{{item._id}}">
                                <div class="item-name rollable">
                                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                                    <h4>{{item.name}}</h4>
                                </div>

                                <div class="spell-school">{{item.data.school.str}}</div>
                                <div class="spell-action">{{item.data.time.value}}</div>

                                {{#if ../../../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        {{/unless}}

                    {{else}}
                        <!-- Add spells row -->
                        <li class="item inventory-header spellbook-header spellbook-empty">
                            {{#if ../owner}}
                            <div class="item-controls pf-bluelist pf-add-item-row" style="flex: 1; background: var(--secondary-background); display: flex;">
                                <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry._id}}" style="flex: 1;"><i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}</a>
                                <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry._id}}" style="flex: 1;"><i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}</a>
                            </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ol>


            {{/unless}}
        </li>


        {{/each}}

        <ol class="singleColumn-list" style="margin-bottom: 2px;">
            <li class="item inventory-header spellbook-header spellbook-empty">
                {{#if owner}}
                <div class="item-controls pf-bluelist pf-add-item-row">
                    <a class="item-control spellcasting-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                        data-level="{{lvl}}"><i class="fas fa-plus"></i>{{localize "PF2E.AddSpellcastingEntryTitle"}}</a>
                </div>
                {{/if}}
            </li>
        </ol>

        {{#if actor.orphanedSpells}}
        <ol class="inventory-list directory-list" style="height: auto;">        
            <li class="item inventory-header spellbook-header">
                <div class="item-name flexrow " style="flex: 1; background: var(--secondary-background);">
                    <h3>{{localize "PF2E.OrphanedSpellsHeader"}}</h3>
                </div>
            </li>

            {{#each actor.orphanedSpellbook as |section lvl|}}
                {{#each section.spells as |item i|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-name rollable">
                        <!-- <div class="item-image" style="background-image: url({{item.img}})"></div> -->
                        <h5 style="margin: 0; flex: 2;">{{item.name}}</h5>
                    </div>
    <!-- 
                    <div class="spell-school">{{item.data.school.str}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div> -->

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <!-- <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a> -->
                        <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}" style="margin-left: 22px;"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
        </ol>
        {{/if}}
    </ol>

   </div>
