/* ----------------------------------------- */
/* Configuration
/* ----------------------------------------- */

$primary-color: #5e0000 !default;
$secondary-color: #171f69 !default; /* used for mini headers, alternate primary color */
$tertiary-color: #d9c485 !default; /* compliments the primary color, usually used in combination */
$alt-color: #f33708; /* for all other uses */
$background-color: #d9c485 !default;
$dark-color: darken($primary-color, 10) !default;
$light-color: lighten($primary-color, 10) !default;

$sidebar-title-color: #f7d488;
$sidebar-label: #ffefbd;

/* One Shade Lighter / Darker */
$light-1: lighten($light-color, 10);
$dark-1: darken($dark-color, 10);

/* Window Settings */
$window-title-bg: #121820;
$window-bg: $background-color;

/* Headers w/ boxes */
$header-color: #fff; /* Font Color */
$header-bg: $secondary-color;
$box-bg: lighten($header-bg, 75);

$sans-serif: 'Roboto', system, -apple-system, sans-serif !default;
$serif: 'Eczar', 'Signika', Georgia, serif !default;
$body-serif: 'Gelasio', 'Signika', Georgia, serif !default;

/* Buttons */
$btn-text: $tertiary-color !default;
$btn-color: $primary-color !default;
$btn-radius: 0 !default;
$btn-frame: $tertiary-color !default;

$btn-color: #8e0317 !default;
$btn-radius: 0 !default;

/* ----------------------------------------- */
/* Fonts
/* ----------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('../fonts/Eczar/eczar.css');
// @import url('../fonts/Silkscreen/silkscreen.css');
@font-face {
    font-family: 'Pathfinder2eActions';
    src: url('../fonts/Pathfinder2eActions.ttf');
}

/* ----------------------------------------- */
/* Global Settings
/* ----------------------------------------- */

:root {
    --primary: #{$primary-color};
    --secondary: #{$secondary-color};
    --tertiary: #{$tertiary-color};
    --alt: #{$alt-color};
    --light: #{$light-color};
    --lighter: #{$light-1};
    --dark: #{$dark-color};
    --darker: #{$dark-1};
    --btn-color: #{$btn-color};
    --btn-radius: #{$btn-radius};
    --header-color: #{$header-color};
    --header-bg: #{$header-bg};
    --box-bg: #{$box-bg};
    --window-bg: #{$window-bg};
}

body {
    font-family: $sans-serif;
}

/* ----------------------------------------- */
/* Typography
/* ----------------------------------------- */

h1,
h2,
h3,
h4 {
    font-weight: 600;
}
p {
    font-weight: 500;
}

/* ----------------------------------------- */
/* Forms
/* ----------------------------------------- */
@import 'forms';