@mixin gold-border {
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #9f725b,
        0 0 0 2px #e9d7a1,
        0 0 0 3px #956d58;
}

@mixin inset-gold-border {
    border: none;
    /* prettier-ignore */
    box-shadow:
        inset 0 0 0 1px #9f725b,
        inset 0 0 0 2px #e9d7a1,
        inset 0 0 0 3px #956d58;
}

@mixin brown-border {
    border: none;
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #918c88,
        0 0 0 2px #e1d8cf,
        0 0 0 3px #a98f39,
        inset 0 0 8px rgba(0,0,0,0.5);
}

@mixin corner-boxes {
    border-style: solid;
    border-image-outset: 0;
    border-width: 9px 9px 9px 9px;
    border-image: url('../assets/sheet/corner-box.png') 9 9 9 9 round round;
}

@mixin micro {
    display: inline;
    font-family: $sans-serif;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin p-reset {
    margin: 0;
    padding: 0;
}