<div class="sidebar_title">
    <h2>Class DC</h2>
    <h4>Status</h4>
    <h4>Item</h4>
</div>

<div class="class-dc">
    <div class="data-value">
        <h2>16</h2>
    </div>
    <h4 class="plaque">Legendary</h4>
    <span class="stat-item">
        <input type="number" data-dtype="Number" placeholder="0" />
    </span>
    <span class="stat-item">
        <input type="number" data-dtype="Number" placeholder="0" />
    </span>
</div>
