.armor-class {
    display: grid;
    grid:
        'ac shield-hp shield-data' 74px
        'shield-footer shield-footer shield-footer' auto
        / 66px 59px auto;
    grid-column-gap: 4px;
    align-items: center;

    .shield {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 74px;
        text-align: center;
        padding: 0 5px;
        h4,
        label {
            font-family: $serif;
            font-weight: 500;
        }
        .data-value {
            h2,
            input[type='number'] {
                font-size: 32px;
                color: white;
                line-height: 26px;
            }
        }
        label {
            font-size: 10px;
        }
        &.ac {
            grid-area: ac;
            background: url('../assets/sheet/shield-blue.png') no-repeat center
                center;
        }
        &.hp {
            grid-area: shield-hp;
            background: url('../assets/sheet/shield-red.png') no-repeat top
                center;
        }
    }
    .shield-stats {
        grid-area: shield-data;
        ol {
            align-items: center;
            margin-left: 4px;
            li {
                justify-content: space-between;
                font-size: 0;
                .shield-label {
                    position: relative;
                    img {
                        border: none;
                        display: flex;
                        align-items: center;
                    }
                    &:after {
                        display: inline-block;
                        position: absolute;
                        @include micro;
                        letter-spacing: -1px;
                        color: var(--primary);
                        top: 0;
                        left: 1px;
                        line-height: 1.5;
                    }
                    &.ac:after {
                        content: 'AC';
                    }
                    &.hardness:after {
                        left: 3px;
                        content: 'H';
                    }
                    &.bt:after {
                        left: 2px;
                        content: 'BT';
                    }
                }
            }
        }
    }
    .armor_footer {
        grid-area: shield-footer;
        display: inline-flex;
        justify-content: space-evenly;
        .shield-max,
        .shield-status {
            display: flex;
            align-items: center;
        }
    }
}
