.hitpoints {
    margin-top: -6px;
    
    h4,
    label {
        font-family: $serif;
        font-weight: 500;
        margin: 0;
        line-height: 1;
        font-size: 10px;
    }
    .hp-big {
        display: flex;
        justify-content: space-evenly;
        .container {
            text-align: center;
            &.temp-hp {
                text-align: right;
                margin-right: 8px;
                input[type='number'] {
                    text-align: right;
                }
            }
            &.max-hp {
                text-align: left;
                margin-left: 8px;
                h2 {
                    color: $sidebar-label;
                    text-align: left;
                }
            }
            &.current-hp {
                margin-top: -15px;
                padding: 10px 0 0;
                position: relative;
                z-index: 0;
                border-radius: 0 0 2px 2px;
                width: 128px;
                background-color: var(--primary);
                @include gold-border;

                input[type='number'] {
                    width: 52px;
                    font-size: 32px;
                    letter-spacing: -1px;
                }
            }
        }
    }
    .hp-small {
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        text-align: center;
        h4,
        label {
            @include micro;
        }
        .far,
        .fas {
            color: white;
        }
        .dying {
            margin-right: 6px;
        }
    }
}
