ol.tags {
    flex-direction: row;
    flex-wrap: wrap;
    li {
        display: inline-flex;
        flex-wrap: nowrap;
        background-color: var(--secondary);
        &.edit-btn {
            background-color: white;
        }
    }
}