.stamina {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    li {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        font-size: 0;
        label {
            margin-right: 4px;
        }
        input {
            width: 100%;
            color: white;
        }
    }
}