<h4 class="sidebar-summary">{{localize "PF2E.ArmorArmorSummary"}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.LevelLabel"}}</label>
        <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="{{data.level.type}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="data.weight.value" data-dtype="String">
            {{#select data.weight.value}}
            <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
            {{#each bulkTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.EquippedBulkLabel"}}</label>
        <select name="data.equippedBulk.value" data-dtype="String" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
        {{#select data.equippedBulk.value}}
        <option value="">{{localize "PF2E.EquippedSameBulkValue"}}</option>
        <option value="0">{{localize "PF2E.NegligibleOption"}}</option>
        {{#each bulkTypes as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
    </div>
</div>

<ol class="item-tags">
    {{#if data.armor.value}}<li class="tag">{{data.armor.value}} {{localize "PF2E.ArmorArmorLabel"}}</li>{{/if}}
    <li class="tag">{{lookup armorTypes data.armorType.value}}</li>
    <li class="tag">{{lookup armorGroups data.group.value}}</li>
    {{#if data.strength.value}}<li class="tag">{{data.strength.value}} {{localize "PF2E.ArmorStrengthRequiredLabel"}}</li>{{/if}}
    {{#if data.dex.value}}<li class="tag">{{data.dex.value}} {{localize "PF2E.ArmorDexLabel"}}</li>{{/if}}
    {{#if data.check.value}}<li class="tag">{{data.check.value}} {{localize "PF2E.ArmorCheckLabel"}}</li>{{/if}}
    {{#if data.speed.value}}<li class="tag">{{data.speed.value}} {{localize "PF2E.ArmorSpeedLabel"}}</li>{{/if}}
</ol>

<ol class="item-tags">
    {{#if data.equipped.value}}
    <li class="tag">{{localize "PF2E.ArmorEquippedLabel"}}</li>
    {{/if}}
</ol>
