 <div class="form-group">
    <label>{{localize "PF2E.EquipmentEquippedLabel"}}</label>
    <input type="checkbox" name="data.equipped.value" value="1" data-dtype="{{data.equipped.type}}" {{checked data.equipped.value}}/>
</div>