<h4 class="sidebar-summary">{{localize "PF2E.WeaponSummary"}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.LevelLabel"}}</label>
        <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="{{data.level.type}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.QuantityLabel"}}</label>
        <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="data.weight.value" data-dtype="String">
            {{#select data.weight.value}}
            <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
            {{#each bulkTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
    </div>
</div>

{{#if weaponTraits.length }}
<ol class="item-tags">
{{#each weaponTraits}}
    <li class="tag">{{this}}</li>
{{/each}}
</ol>
{{/if}}

<ol class="item-tags">
<!--     {{#if data.proficient.value}}
    <li class="tag">Proficient</li>
    {{/if}}

    {{#if data.attuned.value}}
    <li class="tag">Attuned</li>
    {{/if}} -->
</ol>
